---
layout: default # Useremo il layout di default di Alembic per ora
title: Categoria A - Tutti gli Articoli
permalink: /categoria-a/
---

<div class="container content">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {% assign filtered_posts = site.posts | where: "category", "Categoria C" | reverse %}

  {% if filtered_posts.size > 0 %}
    <ul class="post-list">
      {% for post in filtered_posts %}
        <li>
          <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B, %Y" }}</time>
          <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
          <a href="{{ post.url | relative_url }}" class="read-more">Continua a leggere &rarr;</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nessun articolo trovato in questa categoria al momento.</p>
  {% endif %}
</div>